@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020617; /* slate-950 */
}
